<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>
<body>
<div class="container-fluid col-md-6 text-center">
  <h2>Fügen Sie ein Kennzeichen zur Datenbank hinzu</h2>
  <form name="form" (ngSubmit)="f.form.valid && insertVehicle()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !hashedLicencePlate.valid }">
      <label for="hashedLicencePlate">Nummernschild</label>
      <input type="text" class="form-control" id="hashedLicencePlate" name="hashedLicencePlate" required minlength="1"
             placeholder="nummernschild..." [(ngModel)]="model.hashedLicencePlate" #hashedLicencePlate="ngModel"
             required/>
      <div *ngIf="hashedLicencePlate.invalid" class="alert alert-warning">
        <p>Ein Nummernschild ausfüllen</p>
      </div>
      <button class="btn btn-danger col-md-12">Add</button>
    </div>
  </form>
  <br>
</div>

<div class="container-fluid text-center col-md-6">
  <form>
    <input #tagSearch class="form-control mr-sm-2" type="search" placeholder="Suche auf dem Nummernschild" aria-label="Search"
           (input)="searchCarByLicensePlate($event.target.value)">
    <br>
  </form>
</div>

<div class="container text-center">
  <div class="row justify-content-center">
    <div *ngFor="let vehicle of searchVehicle" class="card" style="width: 18rem;">
      <h3>Auto gefunden:</h3>
      <div class="card-body bg-warning">
        <i class="fas fa-car fa-7x"></i>
        <h5 class="card-title">Vehicle</h5>
        <p>licenceplate: {{vehicle.hashedLicencePlate}}</p>
        <p><i class="fas fa-road fa-2x"></i> journeys: {{vehicle.journeys}}</p>
        <div *ngFor="let subinvoice of vehicle.subInvoices">
          <p><i class="fas fa-file-alt fa-2x"></i> invoice number: {{subinvoice.invoiceNumber}} </p>
          <p><i class="fas fa-flag fa-2x"></i> country code: {{subinvoice.country}}</p>
          <p><i class="fas fa-euro-sign fa-2x"></i> price: {{subinvoice.price}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid text-center text-dark">
  <br>
  <h2>gestohlene Autos: {{vehicles.length}}</h2>

  <div class="row justify-content-center">
    <div *ngFor="let vehicle of vehicles" class="card" style="width: 18rem;">
      <div class="card-body bg-danger">
        <i class="fas fa-car fa-7x"></i>
        <h5 class="card-title">Vehicle</h5>
        <p>licenceplate: {{vehicle.hashedLicencePlate}}</p>
        <p><i class="fas fa-road fa-2x"></i> journeys: {{vehicle.journeys}}</p>
        <div *ngFor="let subinvoice of vehicle.subInvoices">
          <p><i class="fas fa-file-alt fa-2x"></i> invoice number: {{subinvoice.invoiceNumber}} </p>
          <p><i class="fas fa-flag fa-2x"></i> country code: {{subinvoice.country}}</p>
          <p><i class="fas fa-euro-sign fa-2x"></i> price: {{subinvoice.price}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
