<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>

<body>
<div class="container-fluid col-md-6 text-center">
  <h2>Fügen Sie ein Kennzeichen zur Datenbank hinzu</h2>
  <form name="form" (ngSubmit)="f.form.valid && insertVehicle()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !hashedLicensePlate.valid }">
      <label for="licencePlate">Nummernschild</label>
      <input type="text" class="form-control" id="licencePlate" name="licencePlate" required minlength="3"
             placeholder="nummernschild..."
             [(ngModel)]="model.hashedLicensePlate" #licencePlate="ngModel" required/>
      <div *ngIf="licencePlate.invalid" class="alert alert-warning">
        <p>Ein Nummernschild ausfüllen</p>
      </div>
      <button class="btn btn-danger col-md-12">Add</button>
    </div>
  </form>
  <br>
</div>

<div class="container-fluid text-center col-md-6">
  <form>
    <div class="form-group">
      <input #tagSearch class="form-control mr-sm-2" type="search" placeholder="Suche auf dem Nummernschild"
             aria-label="Search"
             (input)="searchCarByLicensePlate($event.target.value)">
      <br>
    </div>
  </form>
</div>

<div class="container-fluid text-center text-dark">
  <br>
  <h3>Auto gefunden</h3>
  <div class="row justify-content-center">
    <div *ngFor="let vehicle of searchVehicle" class="card" style="width: 18rem;">
      <div class="card-body bg-danger">
        <i class="fas fa-car fa-7x"></i>
        <h5 class="card-title">Vehicle</h5>
        <p>licenceplate: {{vehicle.hashedLicensePlate}}</p>
        <p>
          <i class="fas fa-road fa-2x"></i>
          <button class="btn btn-outline-dark" (click)="getJourneys(vehicle.journeyUri)"
                  onclick="document.getElementById('id01').style.display='block'">
            journeys
          </button>
        </p>
        <p>
          <i class="fas fa-file-alt fa-2x"></i>
          <button class="btn btn-outline-dark" (click)="getSubInvoices(vehicle.subInvoiceUri)"
                  onclick="document.getElementById('id02').style.display='block'">
            invoices
          </button>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid text-center text-white">
  <br>
  <h2>gestohlene Autos: {{vehicles.length}}</h2>

  <div class="row justify-content-center">
    <div *ngFor="let vehicle of vehicles" class="card" style="width: 18rem;">
      <div class="card-body bg-dark">
        <i class="fas fa-car fa-7x"></i>
        <h5 class="card-title">Vehicle</h5>
        <p>licenceplate: {{vehicle.hashedLicensePlate}}</p>
        <p>
          <i class="fas fa-road fa-2x"></i>
          <button class="btn btn-outline-light" (click)="getJourneys(vehicle.journeyUri)"
                  onclick="document.getElementById('id01').style.display='block'">
            journeys
          </button>
        </p>
        <p>
          <i class="fas fa-file-alt fa-2x"></i>
          <button class="btn btn-outline-light" (click)="getSubInvoices(vehicle.subInvoiceUri)"
                  onclick="document.getElementById('id02').style.display='block'">
            invoices
          </button>
        </p>

        <!--Journey modal-->
        <div id="id01" class="w3-modal">
          <div class="w3-modal-content">
            <header class="w3-container bg-dark text-center text-white">
        <span onclick="document.getElementById('id01').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
              <h2>Gefundene Reisen</h2>
            </header>
            <div class="w3-container text-dark">
              <br>
              <div *ngFor="let journey of journeys">
                <p><i class="fas fa-file-alt fa-2x"></i> invoice number: {{journey.id}} </p>
                <p><i class="fas fa-road  fa-2x"></i> journeys: {{journeys.length}}</p>
                <button class="btn btn-danger" (click)="getTranslocations(journey.translocationUri)">show translocations</button>
                <br>
                <div *ngFor="let translocation of translocations">
                  <br>
                  <hr>
                  <p><i class="fas fa-flag fa-2x fa-2x"></i> Country code: {{translocation.countryCode}} </p>
                  <p><i class="fas fa-clock fa-2x"></i> Date: {{translocation.dateTime}}</p>
                  <p><i class="fas fa-map-marker-alt fa-2x"></i> Latitude: {{translocation.lat}} </p>
                  <p><i class="fas fa-map-marker-alt fa-2x"></i> Longtitude: {{translocation.lon}}</p>
                  <p><i class="fas fa-list-ul"></i> Serial number: {{translocation.serialNumber}}</p>
                </div>
              </div>
              <br>
            </div>
          </div>
        </div>

        <!--Subinvoice modal-->
        <div id="id02" class="w3-modal">
          <div class="w3-modal-content">
            <header class="w3-container bg-dark text-center text-white">
        <span onclick="document.getElementById('id02').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
              <h2>Gefundene Rechnungen</h2>
            </header>
            <div class="w3-container text-dark">
              <div *ngFor="let subinvoice of subInvoices">
                <br>
                <p><i class="fas fa-file-alt fa-2x"></i> invoice number: {{subinvoice.invoiceNumber}} </p>
                <p><i class="fas fa-flag fa-2x"></i> country code: {{subinvoice.country}}</p>
                <p><i class="fas fa-euro-sign fa-2x"></i> price: {{subinvoice.price}}</p>
                <p><i class="fas fa-clock fa-2x"></i> Date: {{subinvoice.invoiceDate}}</p>
                <p><i class="fas fa-credit-card fa-2x"></i> Payment status: {{subinvoice.paymentStatus}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

</body>

</html>
